<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>로또 연관 번호 통계 시스템</title>
  <meta name="description" content="로또 연관 번호 통계 시스템">
  <meta name="author" content="pin">
  <meta name="keywords" content="lotto, 로또, 로또 통계, 로또 번호, 로또 통계 시스템, 로또 번호 추출, 로또 연관 번호">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">
</head>
  <link type="text/css" href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet" media="screen">
  <link type="text/css" href="{{ static_url("css/dashboard.css") }}" rel="stylesheet" media="screen">
</head>
<body>
  <div class="container-fluid" style="width: 95%; margin: auto;">
    <h1 style="text-align: center;">로또 연관 번호 통계 시스템</h1>
    <div class="col-sm-8 main">
      {% block pagetitle %}{% end %}
      {% block content %}{% end %}
    </div>
    <div class="col-sm-4 main">
      {% block content-right %}{% end %}
    </div>
  </div>
  <script type="text/javascript" src="{{ static_url("js/jquery-1.10.2.min.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/bootstrap.min.js") }}"></script>
  {% block jquery %}{% end %}
</body>
</html>
